@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.bg {
    position: relative;
    text-align: center;
}

h2, h1, h4 {
    color:  #0077C0 !important;
    font-weight: 600;
}

#carousel_service {
    width: 100vw;
}

#carousel_testimonial {
    width: 100vw;
}


/*
.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.img-slider {
    height: calc(110vh - 116px);
    min-width: 100vw;
}

.scroll a {
    position: absolute;
    bottom: 180px;
    left: 50%;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    transition: opacity .3s;
}
.scroll a:hover {
    opacity: .5;
}
#learn_more a {
    padding-top: 60px;
}
#learn_more a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
    0% {-webkit-transform: rotate(-45deg) translate(0, 0);}
    20% {-webkit-transform: rotate(-45deg) translate(-10px, 10px);}
    40% {-webkit-transform: rotate(-45deg) translate(0, 0);}
}
@keyframes sdb04 {
    0% {transform: rotate(-45deg) translate(0, 0);}
    20% {transform: rotate(-45deg) translate(-10px, 10px);}
    40% {transform: rotate(-45deg) translate(0, 0);}
}

.btn-slider {
    display: block;
    width: 58px;
    height: 35px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    padding: 9px 10px 10px;
    margin-left: -29px;
    z-index: 10;
    background-color: rgba(58,58,58,.3);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    animation: pointDown 1s infinite ease-out;
    transition: background-color .3s ease-out;
}
.write {
    position: absolute;
    color: white;
    bottom: 0;
    left: 47%;
}

.container-full {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
}

.nopadding {
    padding: 0 !important;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.custom_heading {

    color: #0077C0;
    margin-top: 25px;
    margin-bottom: 30px;
    display: inline-block;
}
.custom_heading:after{
    content: '';
    display: block;
    height: 2px;
    width: 130px;
    margin-top: 15px;
    background-color: #4eb5e5;
}

.custom_heading.align-center:after {
    margin-left: auto;
    margin-right: auto;
}

.bg-dark {
    transition: 300ms;
    background: white !important;
}

.bg-dark.scrolled {
    background: white !important;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-nav > li{
    padding-left:40px;
    padding-right:40px;
    padding-top: 20px;;
    padding-bottom: 0px;
    font-size: 15pt;
    font-weight: bold;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav-link:hover {
    color:  #0077C0 !important;
}

.nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #0077C0;
}

.nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
}

.nav-link-ltr:hover::before {
    width: 85%;
}

.sub{
    color: #0077C0 !important;
}

.sub::before {
    width: 85%;
    bottom: 10px;
}

.portfolio-item {
    margin-bottom: 30px;
}


.responsive {
    width: 100%;
    height: auto;
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 10px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


/* Facebook */
.fa-facebook {
    background: rgba(47,151,239,.15);
    color: #0077C0;
}

/* Twitter */
.fa-twitter {
    background: rgba(47,151,239,.15);
    color: #0077C0;
}

.fa-linkedin {
    background: rgba(47,151,239,.15);
    color: #0077C0;
}

.fa-youtube {
    background: rgba(47,151,239,.15);
    color: #0077C0;
}

.fa-instagram {
    background: rgba(47,151,239,.15);
    color: #0077C0;
}

#home-im1 {
    width: 85%;
    padding: 50px;
}

.item {
    padding: 25px;
}

.row {
    width: 100%;
    padding: 25px;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
    background-color: #2F97EF !important;
    color: white !important;
    border-color: white !important;
}

.btn-outline-primary {
    background-color: #0077C0 !important;
    color: white !important;
    border-color: #0077C0 !important;
    border-radius: 20px;
    width: 150px;
}

.footer-link:hover {
    color: #2F97EF !important;
}

.footer-link {
    color: black !important;
    padding-bottom: 50px;
}

.py-5 {
    background-color: rgba(47,151,239,.15);
}

@media (min-width: 1310px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .bg-dark {
        background: transparent !important;
    }
    .nav-link-home {
        color: white !important;
        /*      text-shadow: 1px 1px 2px #000000;*/
    }
    .navLogoI {
        content: url("assets/img/logoW.png");
        width: 100px;
        height: auto;
    }
    .whiteI {
        color: white !important;
    }
}

@media (max-width: 800px){

    .navbar-brand > img {
        width: 50px;
    }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after
{
    content: '>';
    font-size: 55px;
    color: #0077C0;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #0077C0;
}

/* Style the list */
.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #ffffff;
}

.breadcrumb li a {
    color: #0077C0;
    text-decoration: none;
    border-bottom-color: #0077C0;

}