
body {
  padding-top: 56px;
  font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-nav > li{
  padding-left:40px;
  padding-right:40px;
  padding-top: 20px;;
  padding-bottom: 0px;
  font-size: 15pt;
  font-weight: bold;
}

.nav-link {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  color:  #0077C0 !important;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #0077C0;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 85%;
}

.nav-link-ltr#sub::before {
  width: 85%;
  bottom: 10px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}


.responsive {
  width: 100%;
  height: auto;
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 10px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

@media (min-width: 1270px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
